[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
psycopg2-binary = "*"
django = "==2.2.13"
django-crispy-forms = "==1.8.0"
django-allauth = "==0.40.0"
pillow = "==6.2.1"
stripe = "==2.32.0"
django-debug-toolbar = "==2.0"
win-unicode-console = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
